@model ASP_MVC_0720_Ecommerce.Areas.SHOP.ViewModels.MembersChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/SHOP/Views/Shared/_ShopLayout.cshtml";
}

@using (Html.BeginForm())
{
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder">變更密碼</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form id="contactForm">
                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                @*<input class="form-control" id="name" type="text" placeholder="請輸入帳號" data-sb-validations="required" />*@
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.LabelFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "alert-danger" })
                            </div>
                            <!-- NewPassword input-->
                            <div class="form-floating mb-3">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                @Html.LabelFor(model => model.NewPassword)
                                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "alert-danger" })
                            </div>
                            <!-- NewPasswordCheck input-->
                            <div class="form-floating mb-3">
                                @Html.PasswordFor(model => model.NewPasswordCheck, new { @class = "form-control" })
                                @Html.LabelFor(model => model.NewPasswordCheck)
                                @Html.ValidationMessageFor(model => model.NewPasswordCheck, null, new { @class = "alert-danger" })
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">送出</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


