@model ASP_MVC_0720_Ecommerce.Areas.SHOP.ViewModels.MembersLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/SHOP/Views/Shared/_ShopLayout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm())
{
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person"></i></div>
                    <h1 class="fw-bolder">登入</h1>
                    <p class="lead fw-normal text-muted mb-0">@Html.ValidationMessage("LoginError", "", new { @class = "alert-danger" })</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form id="contactForm">
                            <!-- Account input-->
                            <div class="form-floating mb-3">
                                @*<input class="form-control" id="name" type="text" placeholder="請輸入帳號" data-sb-validations="required" />*@
                                @Html.TextBoxFor(model => model.Account, new { @class = "form-control" })
                                @Html.LabelFor(model => model.Account)
                                @Html.ValidationMessageFor(model => model.Account, null, new { @class = "alert-danger" })
                            </div>
                            <!-- Password address input-->
                            <div class="form-floating mb-3">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.LabelFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "alert-danger" })
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">登入</button></div>
                            @Html.ActionLink("去註冊", "Register", "Members", new { area = "SHOP" })
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}